
:root {
    font-size: 14px;
    font-family: Verdana;
    line-height: 1.25;
    color: black;
    background-color: blanchedalmond;
}

h1 {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 20px;
    color: blue;
    text-align: center;
}

.código {
    width: 100%;
    height: 300px;
    position: sticky;

}
h2 {
    color: blue;
}
.artículos {
    width: 100vw;
    height: 50%;
    
}
a {
    color: blue;
}

ul {
    list-style: none;
}
h3 {
    color: blue;
}
.aside {

    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: center;
    padding-left: 70px;
    
}


h5 {
    color: fuchsia;
    font-size: 18px;
    
}
.lenguajes {
    font-size: 15px;
    color: fuchsia;
}
h6 {
    font-size: 20px;
    color: blueviolet;

}
.fuentes {
    font-size: 18px;
    font-family: 'Courier New';
 
}

footer {
    color: green;
    font-family: Verdana;
    margin-top: 20px;
    text-align: right;
    font-size: 18px;

}

